.categories-container {
	width: 1160px;
	height: 171px;
	margin-top: 39px;
	ul {
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	li {
		width: fit-content;
	}
	.categories-img-container {
		width: 128px;
		height: 128px;
		border-radius: 10px;
		box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.22);
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	img {
		width: 61px;
		height: 61px;
	}
	h3 {
		font-size: 14px;
		font-weight: 600;
		color: #4E4E4E;
		place-self: center;
		margin-top: 22px;
	}
	.titulo-tecnologia {
		color: #3019B2;
	}
	.moda-logo {
		width: 63px;
		height: 63px;
	}
}





