@import 'header-top-bar.scss';
@import 'header-middle-bar.scss';
@import 'header-bottom-bar.scss';

.App-header {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 144px;
	background-color: #FFFFFF;
}

