.bottom-bar-container {
	width: 1440px;
	height: 47px;
	display: flex;
	align-items: center;
	justify-content: center;
	span {
		font-size: 13px;
		font-weight: 300;
		height: 20px;
		color: #3F3F40;
	}
}